<div class="user-profile-container">
  <p class="user-name"><%= "#{@user.first_name} #{@user.last_name}" %></p>
  <p class="user-email">Email: <%= @user.email %></p>

  <div class="user-actions">
    <% if current_user == @user %>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: "user-action-button" %>
      <%= button_to "Sign out", destroy_user_session_path, method: 'delete', class: "user-action-button" %>
    <% end %>
  </div>
</div>
<div class="user-lists-header">
  <%= current_user == @user ? "My Lists" : "Lists by this user" %>
</div>

<% if @user.lists.any? %>
  <div class="lists-container">
    <% @user.lists.each do |list| %>
      <div class="list-card">
        <div class="list-info">
          <%= link_to list.name, list, class: "list-name" %>
          <div class="categories">
          <% list.categories.each do |category| %>
            <div>
              <%= link_to category.name, category_path(category), style: "background-color: #{category_colors(category.name)}", class: "category-tag" %>
            </div>
          <% end %>
        </div>
        </div>
        <% if current_user == @user %>
          <div class="list-actions" style="display: flex; flex-direction: column">
            <%= link_to edit_list_path(list) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        <% end %>
        <div class="created-at-list">
          Created at: <%= list.created_at.strftime("%B %d, %Y") %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <% if current_user == @user %>
    <p style="margin-left: 2rem">
      You have no lists yet. <%= link_to 'Create your first list', new_list_path, class: "create-list-link" %>
    </p>
  <% else %>
    <p style="margin-left: 2rem">
      This user has no lists yet.
    </p>
  <% end %>
<% end %>
